.section-image-container {
   display: grid;
   gap: 10px;
   cursor: pointer;
}

.section-image {
   aspect-ratio: 1/1;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 20px;
   filter: grayscale(1);
   transition: all .1s linear;
}

.section-image-container:hover > .section-image {
   scale: 1.05;
}