.quote-container {
   display:flex;
   padding: 20px 40px;
   gap: 10px;
}

.action {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.icon-container {
   display: grid;
   place-items: center;
   aspect-ratio: 1/1;
   background-color: transparent;
   padding: .3rem;
   border-radius: 100%;
}

.icon-container:hover {
   cursor: pointer;
   background-color: lightgrey;
}

.tags {
   display: flex;
   flex-wrap: wrap;
   gap: .1rem;
}